<div class="login-container">
    <div class="login-card">
      <div class="login-avatar">
        <img src="https://via.placeholder.com/150" class="img-avatar" alt="Avatar">
      </div>
      <div class="login-form">
        <h2>Login</h2>
        <form>
          <div class="form-group" formGroupName="form">
            <label for="username">Username:</label>
            <input type="text" placeholder="text" FormControlName="username" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" FormControlName="password" required>
          </div>
          <button type="button" (click)="onSubmit()">Login</button>
        </form>
      </div>
    </div>
  </div>
  