.example-container {
    width: 500px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .example-card {
    background-color: rgba(255, 107, 0, 0.8);
    padding: 9px;
    margin: 10px;
    max-width: 450px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-card-manutencao {
    background-color: #D9D9D9;
    padding: 9px;
    margin: 10px;
    max-width: 400px;
  }